@font-face {
  font-family: BMDOHYEON;
  src: url(./font/BMDOHYEON.woff) format("woff");
}

h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

a,
a:visited,
a:hover, a:active, a:focus {
  color: #3B3B39;
}

html, body {
  font-family: BMDOHYEON, sans-serif;
  margin: 0 auto;
  background-color: #F9F9F1;
  height: 100%;
  color: #3B3B39;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 1em auto;
}

.main-container .tagline {
  margin-top: 0.5em;
  margin-bottom: 3em;
  font-size: 14px;
}

.main-container img {
  width: 120px;
  display: inline-block;
  vertical-align: bottom;
}

.main-container h1 {
  display: inline-block;
}

.main-container #social-container h2 {
  display: inline-block;
}

.main-container .social {
  text-decoration: none;
  margin-left: 8px;
}

.main-container .social img {
  width: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.main-container .social:visited {
  color: #3B3B39;
}

.main-container .social .yt {
  width: 28px;
}

.main-container .openhour {
  width: 100%;
  margin: 0 auto;
  padding: 2em 0 0;
}

.main-container .request {
  padding: 2em 0;
  height: auto;
  min-height: 400px;
  background-color: #DBE3CC;
}

.main-container .request button {
  height: 32px;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.main-container .divider {
  width: 300px;
  border-top: 2px solid #3B3B39;
  border-bottom: 2px solid #3B3B39;
  margin: 2em auto;
}

.main-container .staff {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.main-container .staff ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: -10px;
}

.main-container .staff ul li {
  margin-right: 16px;
}

.main-container .staff ul li img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.main-container .staff ul li p {
  font-family: BMDOHYEON, sans-serif;
  margin-top: 0.5em;
}

.main-container #request-container {
  width: 100%;
  max-width: 600px;
  mix-width: 400px;
  margin: 0 auto;
  text-align: left;
  background-color: #DBE3CC;
  height: 360px;
  color: #3B3B39;
}

.main-container #request-container #request-form-open {
  height: 360px;
}

@media screen and (min-width: 480px) {
  .main-container #request-container #request-form-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-container #request-container #request-form-open #field_set {
    border: none;
    padding: 0;
  }
  .main-container #request-container #request-form-open .left {
    width: 50%;
    display: inline-block;
    padding: 1em;
  }
  .main-container #request-container #request-form-open .left .field {
    margin-top: 0.8em;
  }
  .main-container #request-container #request-form-open .left .field label {
    display: block;
    margin-bottom: 0.2em;
  }
  .main-container #request-container #request-form-open .left .field input {
    height: 24px;
    width: 90%;
    border: 0;
    margin: 0;
    padding: 6px 4px 4px 7px;
    min-width: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    letter-spacing: inherit;
  }
  .main-container #request-container #request-form-open .left button {
    margin-top: 2em;
    padding: 6px 10px;
  }
  .main-container #request-container #request-form-open .right {
    width: 50%;
    height: 100%;
    display: inline-block;
    background: url(../image/recording.png) no-repeat;
  }
}

@media screen and (max-width: 480px) {
  .main-container #request-container #request-form-open {
    display: block;
  }
  .main-container #request-container #request-form-open #field_set {
    border: none;
    padding: 0;
  }
  .main-container #request-container #request-form-open .left {
    width: 100%;
    display: block;
    padding: 1em;
  }
  .main-container #request-container #request-form-open .left .field {
    margin-top: 0.8em;
  }
  .main-container #request-container #request-form-open .left .field label {
    display: block;
    margin-bottom: 0.2em;
  }
  .main-container #request-container #request-form-open .left .field input {
    height: 24px;
    width: 90%;
    border: 0;
    margin: 0;
    padding: 6px 4px 4px 7px;
    min-width: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    letter-spacing: inherit;
  }
  .main-container #request-container #request-form-open .left button {
    margin-top: 2em;
    padding: 6px 10px;
  }
  .main-container #request-container #request-form-open .right {
    width: 100%;
    display: none;
  }
}

.main-container #request-container #request-form-closed {
  width: 100%;
  max-width: 600px;
  mix-width: 400px;
  margin: 0 auto;
  background-color: #DBE3CC;
  height: 360px;
  background: url(../image/not-yet.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container #request-container #request-form-closed h2 {
  margin: auto;
  color: #F9F9F1;
}

.main-container #request-container #request-form-success {
  width: 100%;
  max-width: 600px;
  mix-width: 400px;
  margin: 0 auto;
  background-color: #DBE3CC;
  height: 360px;
  background: url(../image/success.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container #request-container #request-form-success h2 {
  margin: auto;
  color: #F9F9F1;
}

.main-container #request-container #request-form-success h2 button {
  cursor: pointer;
  padding: 6px 10px;
}

.main-container #request-container .hidden {
  display: none !important;
}

#footer {
  margin-top: 8em;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */