@font-face
    font-family: BMDOHYEON
    src: url(./font/BMDOHYEON.woff) format('woff')
    
$base-color: #F9F9F1
$second-color: #DBE3CC
$tertiary-color: #B5C7AD
$font-color: #3B3B39

$small: 480px

h1 
    font-size: 4em
    margin-top: 0
    margin-bottom: 0
    
h2
    font-size: 2em
    margin-top: 0
    margin-bottom: 0
    
html, body
    font-family: BMDOHYEON, sans-serif
    margin: 0 auto
    background-color: $base-color
    height: 100%
    color: $font-color


.main-container
    max-width: 1200px
    width: 100%
    text-align: center
    margin: 1em auto
    
    .tagline
        margin-top: 0.5em   
        margin-bottom: 3em 
    img 
        width: 120px
        display: inline-block
        vertical-align: bottom
    h1
        display: inline-block

    #social-container
        h2
            display: inline-block
            
        
    .social 
        text-decoration: none
        margin-left: 8px

        img
            width: 24px
            vertical-align: middle
            margin-right: 8px

        &:visited
            color: $font-color
        .yt
            width: 28px
        
    
    .openhour
        width: 100%
        margin: 0 auto
        padding: 2em 0 0

    .request
        padding: 2em 0 
        height: auto
        min-height: 400px
        background-color: $second-color

        button
            height: 32px
            background: white
            border-radius: 3px
            cursor: pointer

    .divider
        width: 300px
        border-top: 2px solid $font-color
        border-bottom: 2px solid $font-color
        margin: 2em auto

    
    .staff
        max-width: 480px
        width: 100%
        margin: 0 auto

        ul
            display: flex
            list-style: none
            flex-wrap: wrap
            width: 100%
            margin-left: -10px
            
            li
                margin-right: 16px
                img
                    width: 96px
                    height: 96px
                    border-radius: 50%
                p
                    font-family: BMDOHYEON, sans-serif
                    margin-top: 0.5em
    
    .request-container
        width: 100%
        max-width: 600px
        mix-width: 400px
        margin: 0 auto
        text-align: left
        background-color: $second-color

        @media screen and (min-width: $small) 
            display: flex
            height: 360px

            #field_set
                border: none
                padding: 0

            .left
                width: 50%
                display: inline-block
                padding: 1em

                .field
                    margin-top: 0.8em
                    
                    label
                        display: block
                        margin-bottom: 0.2em
                        
                    input
                        height: 24px
                        width: 90%
                        color: white
                        border: 0
                        margin: 0
                        padding: 6px 4px 4px 7px
                        min-width: 0
                        box-sizing: content-box
                        letter-spacing: inherit

                button
                    margin-top: 2em
                    padding: 6px 10px

            .right
                width: 50%
                height: 100%
                display: inline-block
                background: url(../image/recording.png) no-repeat
                
        @media screen and (max-width: $small)
            display: blcok

            #field_set
                border: none
                padding: 0

            .left
                width: 100%
                display: block
                padding: 1em
                .field
                    margin-top: 0.8em
                    
                    label
                        display: block
                        margin-bottom: 0.2em
                        
                    input
                        height: 24px
                        width: 90%
                        color: white
                        border: 0
                        margin: 0
                        padding: 6px 4px 4px 7px
                        min-width: 0
                        box-sizing: content-box
                        letter-spacing: inherit
                button
                    margin-top: 2em
                    padding: 6px 10px

            .right
                width: 100%
                display: none

    #request-form-closed
        background: url(../image/not-yet.png) no-repeat 
        h2
            margin: auto
            color: $base-color
    #request-form-success
        background: url(../image/success.png) no-repeat 
        h2
            margin: auto
            color: $base-color

    
#footer
    margin-top: 8em
    width: 100%
    height: 40px
    text-align: center