@font-face {
  font-family: BMDOHYEON;
  src: url(./font/BMDOHYEON.woff) format("woff");
}

h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: BMDOHYEON, sans-serif;
  margin: 0 auto;
  background-color: #F9F9F1;
  height: 100%;
  color: #3B3B39;
}

a,
a:visited,
a:hover, a:active, a:focus {
  color: #3B3B39;
}

.icon {
  width: 1em;
  cursor: pointer;
  fill: #B5C7AD;
}

.icon.trash {
  position: absolute;
  top: 37px;
  right: 1em;
  display: none;
}

.icon.add {
  margin-right: 0.5em;
  vertical-align: text-top;
}

.icon.play-white, .icon.pause-white {
  position: absolute;
  top: 24px;
  left: 44px;
  width: 36px;
  display: none;
}

nav {
  width: 100%;
  margin: 1em auto;
  max-width: 1200px;
}

nav img {
  width: 120px;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  display: inline-block;
  vertical-align: middle;
  padding-top: .5em;
}

nav ul {
  display: inline-block;
  vertical-align: bottom;
  height: 3.5em;
  margin-left: 1em;
}

nav ul button {
  padding: 6px 10px;
  height: 32px;
  background: #F9F9F1;
  border-radius: 3px;
  cursor: pointer;
}

.main-container h2 {
  vertical-align: middle;
}

.main-container h2.onair {
  position: absolute;
  padding-left: 16px;
  padding-top: 16px;
  background: red;
  padding-right: 16px;
  padding-bottom: 16px;
  opacity: 80%;
  color: white;
}

.main-container .added-song {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
  position: relative;
}

.main-container .added-song .thumbnail {
  height: 90px;
}

.main-container .added-song .title {
  padding-left: 20px;
  width: 260px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 0;
}

.main-container .added-song.selected {
  background-color: #FAFAD9;
}

.main-container .added-song.selected:hover .trash {
  display: none;
}

.main-container .added-song.playing .play-white {
  display: none;
}

.main-container .added-song.playing .pause-white {
  display: none;
}

.main-container .added-song.playing:hover .trash {
  display: none;
}

.main-container .added-song.playing:hover .play-white {
  display: none;
}

.main-container .added-song.playing:hover .pause-white {
  display: block;
}

.main-container .added-song:hover .trash {
  display: block;
}

.main-container .added-song:hover .play-white {
  display: block;
}

.main-container .added-song:hover .pause-white {
  display: none;
}

.main-container #controller {
  display: inline-block;
}

.main-container #controller button {
  height: 32px;
  background: #F9F9F1;
  border-radius: 3px;
  cursor: pointer;
}

.main-container #controller button img {
  vertical-align: bottom;
  margin-right: 4px;
}

@media screen and (min-width: 480px) {
  .main-container {
    max-width: 1200px;
    height: 480px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-container .player-container {
    width: 60%;
    height: 450px;
    background-color: #ccc;
  }
  .main-container .playlist-container {
    width: 40%;
    height: calc(450px - 32px);
    background-color: #DBE3CC;
    overflow: scroll;
    padding: 1em 2em;
  }
  .main-container h2 {
    display: inline-block;
  }
  .main-container .export {
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container .player-container {
    width: 100%;
    min-width: 360px;
    height: 300px;
    padding: 1em;
    background-color: #ccc;
  }
  .main-container .playlist-container {
    width: 100%;
    min-width: 360px;
    height: auto;
    background-color: #DBE3CC;
    padding: 1em;
  }
}

#playlist {
  margin-top: 1em;
}

#playlist .info-container {
  width: 100%;
}

#playlist .info-container .requester-info {
  display: block;
  padding-left: 20px;
  font-size: 16px;
  margin-top: 8px;
}

#playlist .info-container .requester-info p {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

#playlist .info-container .original-info .title {
  color: #878783;
  font-size: 12px;
}

.bottom-container {
  width: 100%;
  background-color: #DBE3CC;
  min-height: calc(100% - 632px);
  height: auto;
  font-family: BMDOHYEON, sans-serif;
}

.bottom-container h2 {
  display: inline-block;
}

.bottom-container .search {
  display: inline-block;
}

.bottom-container .search button {
  height: 32px;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.bottom-container .toggle-button {
  display: inline-block;
  vertical-align: text-bottom;
}

.bottom-container .bottom-content {
  max-width: 1200px;
  margin: 0em auto;
  padding: 1em 0 3em;
}

.bottom-container #query {
  font-size: 1.5em;
  line-height: 2em;
  border-radius: 3px;
  margin-left: 0.5em;
  height: 26px;
  vertical-align: text-bottom;
}

.bottom-container .requests-container {
  margin-top: 1em;
}

.bottom-container #requests {
  overflow: scroll;
  display: -webkit-box;
}

.bottom-container #requests .pending-request {
  width: 200px;
  height: 120px;
  background-color: #F9F9F1;
  margin-right: 1em;
  cursor: pointer;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-container #requests .pending-request .request-left {
  width: 90%;
  margin: auto;
}

.bottom-container #requests .pending-request .request-right {
  width: 10%;
}

.bottom-container #requests .pending-request p {
  display: inline-block;
  color: #677A5E;
  font-size: 1em;
  line-height: 0em;
}

.bottom-container #requests .pending-request span {
  color: #3B3B39;
}

.bottom-container .tgl {
  display: none;
}

.bottom-container .tgl, .bottom-container .tgl:after, .bottom-container .tgl:before, .bottom-container .tgl *, .bottom-container .tgl *:after, .bottom-container .tgl *:before, .bottom-container .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bottom-container .tgl::-moz-selection, .bottom-container .tgl:after::-moz-selection, .bottom-container .tgl:before::-moz-selection, .bottom-container .tgl *::-moz-selection, .bottom-container .tgl *:after::-moz-selection, .bottom-container .tgl *:before::-moz-selection, .bottom-container .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.bottom-container .tgl::selection, .bottom-container .tgl:after::selection, .bottom-container .tgl:before::selection, .bottom-container .tgl *::selection, .bottom-container .tgl *:after::selection, .bottom-container .tgl *:before::selection, .bottom-container .tgl + .tgl-btn::selection {
  background: none;
}

.bottom-container .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  border: 1px solid #3B3B39;
}

.bottom-container .tgl + .tgl-btn:after, .bottom-container .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.bottom-container .tgl + .tgl-btn:after {
  left: 0;
}

.bottom-container .tgl + .tgl-btn:before {
  display: none;
}

.bottom-container .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.bottom-container .tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888;
}

.bottom-container .tgl-skewed + .tgl-btn:after, .bottom-container .tgl-skewed + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.bottom-container .tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}

.bottom-container .tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}

.bottom-container .tgl-skewed + .tgl-btn:active {
  background: #888;
}

.bottom-container .tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}

.bottom-container .tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}

.bottom-container .tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}

.bottom-container .tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}

.bottom-container .tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

#search-result-container {
  width: 100%;
  margin: 0 auto;
  background-color: #B5C7AD;
  display: none;
}

#search-result-container .result-content {
  max-width: 1200px;
  margin: 0em auto;
  padding: 2em 1em;
}

#search-result-container .result-content h2 {
  margin-bottom: 1em;
}

#search-result-container .result-content #search_result {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-result-container .result-content #search_result .searched-song {
  width: 280px;
  text-align: center;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 5px;
  min-height: 330px;
  position: relative;
}

#search-result-container .result-content #search_result .searched-song p {
  padding: 1em;
}

#search-result-container .result-content #search_result .searched-song button {
  height: 32px;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  bottom: 1em;
  left: 68px;
}
/*# sourceMappingURL=style.css.map */