@font-face
    font-family: BMDOHYEON
    src: url(./font/BMDOHYEON.woff) format('woff')
    
$base-color: #F9F9F1
$second-color: #DBE3CC
$tertiary-color: #B5C7AD
$font-color: #3B3B39

$small: 480px

h1 
    font-size: 4em
    margin-top: 0
    margin-bottom: 0
    
h2
    font-size: 2em
    margin-top: 0
    margin-bottom: 0
    
ul, li
    list-style: none
    margin: 0
    padding: 0

html, body
    font-family: BMDOHYEON, sans-serif
    margin: 0 auto
    background-color: $base-color
    height: 100%
    color: $font-color

.icon
    width: 1em
    cursor: pointer 
    fill: $tertiary-color

    &.trash
        position: absolute   
        top: 37px
        right: 1em
        display: none
    
    &.add
        margin-right: 0.5em
        vertical-align: text-top

nav
    width: 100%
    margin: 1em auto
    max-width: 1200px

    img
        width: 120px
        height: 120px
        display: inline-block
        vertical-align: middle     

    h1
        display: inline-block
        vertical-align: middle     
        padding-top: .5em
        
        
.main-container

    .added-song
        width: 100%
        background-color: white
        display: flex
        margin-bottom: 0.5em
        position: relative

        .thumbnail
            height: 90px
        .title
            padding-left: 1.2em
        
        &:hover
            .trash
                display: block


    @media screen and (min-width: $small)
        max-width: 1200px
        height: 480px
        margin: 0 auto
        display: flex
        flex-direction: row
        justify-content: space-between

        .player-container
            width: calc(60% - 32px)
            height: calc(450px - 32px)
            padding: 1em
            background-color: #ccc

        .playlist-container
            width: calc(36% - 32px)
            height: calc(450px - 32px)
            background-color: $second-color
            overflow: scroll
            padding: 1em

        h2 
            display: inline-block
        .export
            display: inline-block

    @media screen and (max-width: $small) 
        max-width: 100%
        height: auto
        margin: 0 auto
        display: flex
        flex-direction: column

        .player-container
            width: 100%
            height: 300px
            padding: 1em
            background-color: #ccc

        .playlist-container
            width: 100%
            height: auto
            background-color: $second-color
            padding: 1em
    
#playlist
    margin-top: 1em




.bottom-container
    width: 100%
    background-color: $tertiary-color
    height: calc(100% - 632px)
    font-family: BMDOHYEON, sans-serif

    
    h2 
        display: inline-block
    .search
        display: inline-block

    .bottom-content
        max-width: 1200px
        margin: 1em auto
        padding: 1em
    .search-result
        margin-top: 1em
    
    #search_result
        flex-wrap: wrap
        display: flex
    
        .searched-song
            width: 280px
            text-align: center
            margin-left: 1em
            margin-bottom: 1em
            background-color: white
            border-radius: 5px

            button
                margin-bottom: 1em
                height: 32px                
                background: white
                border-radius: 3px
                cursor: pointer
            
    #query 
        height: 1.5em
        font-size: 1.5em
        line-height: 2em
        border-radius: 3px
        vertical-align: revert
        margin-left: 0.5em
    
    #search
        height: 42px
        width: 42px
        background: white
        border-radius: 3px
        vertical-align: bottom