<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>Onhwa cafe</title>
    <script src="{{url_for('.static', filename='js/jquery-3.6.0.js')}}"></script>
    <script src="{{url_for('.static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/ytplayer.js')}}"></script>
    <script src="{{url_for('.static', filename='js/onhwa.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
</head>

<body>
    <nav>
        <img src="{{url_for('.static', filename='./image/logo.png')}}" alt="">
        <h1>온화카페 DJ 부스</h1>
    </nav>
    <div class="main-container">
        <div class="player-container" id="player">
        </div>
        <div class="playlist-container">
            <h2>플레이리스트</h2>
            <div id="controller">
                <button onclick="prevVideo();">
                    <img src="/static/image/glyphicons_170_step_backward.png">이전 곡
                </button>
                <button onclick="nextVideo();">
                    <img src="/static/image/glyphicons_178_step_forward.png">다음 곡
                </button>
            </div>
            <ul class="playlist" id='playlist'>
                <!-- Show current playlist here-->
                <div class="added-song">
                    <p class="title"></p>
                    <img src="" alt="" class="thumbnail">
                    <button class="remove"></button>
                </div>
            </ul>
            <div class="export">유튜브로 플레이리스트 내보내기 (하루 한번만) <img class="icon export" src="./static/image/youtube.svg" onclick='export_playlist()' /></div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="requests-container">
            <label class="switch">
                <input type="checkbox" id="request_open_checkbox"><br>
                <input type="text" id="request_open_textbox">
            </label>
            <ul id="requests">
            </ul>
        </div>
        <div class="bottom-content">
            <h2>신청곡 추가</h2>
            <div class="search">
                <!-- Search Form -->
                <form id='search_youtube' action="/search_youtube" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <!-- protection against CSRF attack -->
                    <!-- {{ form.query.label }}<br> -->
                    {{ form.query(size=24, placeholder="노래 검색") }}
                    <button type="submit" id='search_submit'>
                        <img class="icon search" src="./static/image/search.svg">
                    </button>
                    <!-- <input type="submit" value="검색" id='search'>  -->
                </form>
            </div>
            <div class="search-result">
                <div class="result-song" id='search_result'>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>