<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="tTIKZsugfSbnqmeeNc0Q4_0uE1mB-91DczGsI1dNCoc" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>온화카페</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" type="image/png" href="{{url_for('.static', filename='image/favicon.png')}}">
    <script src="{{url_for('.static', filename='js/jquery-3.6.0.js')}}"></script>
    <script src="{{url_for('.static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/ytplayer.js')}}"></script>
    <script src="{{url_for('.static', filename='js/onhwa.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5K13QK9MER"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-5K13QK9MER');
    </script>
</head>

<body>
    <nav>
        <a href="/"><img src="{{url_for('.static', filename='./image/logo.gif')}}" alt=""></a>
        <h1>온화카페 DJ 부스</h1>
        <ul>
            <li>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}"><button>출근</button></a>
                {% else %}
                <a href="{{ url_for('logout') }}"><button>퇴근하자!</button></a>
                {% endif %}

            </li>
        </ul>    
    </nav>
    <div class="main-container">
        <div class="player-container" id="player">
        </div>
        <div class="playlist-container">
            <h2>플레이리스트</h2>
            <div id="controller">
                <button onclick="prevVideo();">
                    <img src="/static/image/glyphicons_170_step_backward.png">이전 곡
                </button>
                <button onclick="nextVideo();">
                    <img src="/static/image/glyphicons_178_step_forward.png">다음 곡
                </button>
                <button onclick="remove_playlist();">모두 지우기</button>
            </div>
            <ul class="playlist" id='playlist'>
                <!-- Show current playlist here-->
                <div class="added-song">
                    <p class="title"></p>
                    <img src="" alt="" class="thumbnail">
                    <button class="remove"></button>
                </div>
            </ul>
            <div class="export">유튜브로 플레이리스트 내보내기 (하루 한번만) <img class="icon export" src="./static/image/youtube.svg" onclick='export_playlist()' /></div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="bottom-content">
            <h2>신청곡</h2>
            <div class="toggle-button">
                <input class="tgl tgl-skewed" id="request_open_checkbox" type="checkbox"/>
                <label class="tgl-btn" data-tg-off="마감" data-tg-on="받는중" for="request_open_checkbox"></label>
            </div>
            <div class="search">
                <!-- Search Form -->
                <form id='search_youtube' action="/search_youtube" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <!-- protection against CSRF attack -->
                    <!-- {{ form.query.label }}<br> -->
                    {{ form.query(size=24, placeholder="가수이름 노래제목") }}
                    <button type="submit" id='search_submit'>
                        <img class="icon search" src="./static/image/search.svg">
                    </button>
                    <!-- <input type="submit" value="검색" id='search'>  -->
                </form>
            </div>
            <div class="requests-container">
                <p>노래를 검색하거나 아래 신청곡 카드 눌러서 영상 찾은 후, 플레이리스트에 넣기 <button onclick="remove_all_requests();">모두 지우기</button></p>
                
                <ul id="requests">
                </ul>
                <script>
                url_sse="{{ url_for('sse.stream') }}";
                function request_sse(){
                    console.log(url_sse);
                    var source = new EventSource(url_sse);
                    source.addEventListener('new_request', function(event) {
                        var data = JSON.parse(event.data);
                        console.log("The server says " + data.requester + data.artist + data.title);
                        // index = length of requests 
                        // $('#requests').append("<li class='pending-request'><p class='requester'>" + data.requester + "</p><p class='artist'>" + data.artist + "</p><p class='title'>" + data.title + "</p><img class='icon trash' src='static/image/trash.svg' onclick='remove_request(" + index + ")'/></li>");
                        load_requests(); // change to above
                    }, false);
                    source.addEventListener('error', function(event) {
                        alert("Failed to connect to event stream. Is Redis running?");
                    }, false);
                }
                request_sse();
                </script>
            </div>
        </div>
    </div>
    <div id="search-result-container">
        <div class="result-content">
            <h2>검색 결과</h2>
            <div id='search_result'></div>
        </div>
    </div>

    <footer></footer>
 
</body>

</html>
