<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
        <title>온화카페</title>
        <link rel="icon" type="image/png" href="{{url_for('.static', filename='image/favicon.png')}}">
        <script src="{{url_for('.static', filename='js/jquery-3.6.0.js')}}"></script>
        <script src="{{url_for('.static', filename='js/jquery-ui.min.js')}}"></script>
        <script src="{{url_for('.static', filename='js/ytplayer.js')}}"></script>
        <script src="{{url_for('.static', filename='js/onhwa.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
    </head>

    <body>
        <div class="main-container">
            <img src="{{url_for('.static', filename='./image/logo.png')}}" alt="">
            <h1>온화카페</h1>
            <p class="tagline">사람 사는 이야기. 작업할 때 듣는 라디오처럼 무겁지도 가볍지도 않은 이야기를 하는 공간</p>

            <div id="request-container">
                {% if submitted %}
                <div id="request-form-success">
                    <h2>신청해주셔서 감사합니다 :) <br><a href="/"><button>한 곡 더 신청하기</button></a></h2>
                    
                </div>              
                {% else %}

                <div id="request-form-open" class="hidden">
                    <div class="left">
                        <h2>신청곡</h2>
                        <form id='request_form' action="/request_song" method="post" novalidate>
                        <fieldset id="field_set">
                            {{ form.hidden_tag() }}  <!-- protection against CSRF attack -->                   
                            <div class="field" id="requester">
                                <label>신청자</label>
                                {{ form.requester(size=24, placeholder="Your name") }}
                                {% for error in form.requester.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div> 
                            <div class="field" id="singer">
                                <label>가수</label>
                                {{ form.artist(size=24, placeholder="Artist") }}
                                {% for error in form.artist.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}    
                            </div>
                            <div class="field" id="song-title">
                                <label>노래이름</label>
                                {{ form.title(size=24, placeholder="Title") }}   
                                {% for error in form.title.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %} 
                            </div>
                            <button type="submit"  id='request_submit'>
                            틀어주세요
                            </button>
                        </fieldset>
                        </form>
                    </div>
                    <div class="right"></div>  
                </div>    
                {% endif %}  

                <div id="request-form-closed">
                    <h2>신청곡은 마감 1시간 전부터 가능합니다 :)</h2>
                </div>
            </div>

            <div class="openhour">
                <div class="divider"></div>
                <h2>영업 시간</h2>
                (월~금) 미국 시간 🇺🇸 PDT 10AM - 5PM<br>
                (화~토) 한국 시간 🇰🇷 KST 2AM - 9AM
                <div class="divider"></div>
            </div>
            <div class="staff">
                <h2>Crew</h2>
                <ul class="list">
                    <li class="alf"><img src="./static/image/alf.png" alt=""><p>Alf</p></li>
                    <li class="chan"><img src="./static/image/chan.png" alt=""><p>Chan</p></li>
                    <li class="chul"><img src="./static/image/chul.jpeg" alt=""><p>Chul</p></li>
                    <li class="ckay"><img src="./static/image/ckay.png" alt=""><p>Ckay</p></li>
                    <li class="gloria"><img src="./static/image/gloria.jpeg" alt=""><p>Gloria</p></li>
                    <li class="hyojoo"><img src="./static/image/hyojoo.jpeg" alt=""><p>Hyojoo</p></li>
                    <li class="jane"><img src="./static/image/jane.jpeg" alt=""><p>Jane</p></li>
                    <li class="jeiko"><img src="./static/image/jeiko.jpeg" alt=""><p>Jeiko</p></li>
                    <li class="jinwoo"><img src="./static/image/jinwoo.png" alt=""><p>Jinwoo</p></li>
                    <li class="natasha"><img src="./static/image/natasha.jpeg" alt=""><p>Natasha</p></li>
                    <li class="sangmi"><img src="./static/image/sangmi.jpeg" alt=""><p>Sangmi</p></li>
                    <li class="youkyoung"><img src="./static/image/youkyoung.jpeg" alt=""><p>Youkyoung</p></li>
                </ul>
            </div>
            <div class="divider"></div>
            <div id="social-container">
                <h2><a class="social" href="https://www.instagram.com/onhwacafe/" target="_blank"><img src="static/image/instagram.png"/>Instagram</a></h2>
                <h2><a class="social" href="https://www.youtube.com/playlist?list=PLkTLwl6Bf7xgoDAfvvTDyLc6KTK-46YHq" target="_blank"><img class="yt" src="static/image/youtube-black.svg"/>Youtube</a></h2>
            </div>
            <div class="divider"></div>
        </div>
        <footer id="footer">© 2021 온화카페, All Rights Reserved | developed by Team Javis (@chanitect, @mud0ri)</footer>
    </body>

</html>