<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	    <meta name="google-site-verification" content="tTIKZsugfSbnqmeeNc0Q4_0uE1mB-91DczGsI1dNCoc" />
        <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
        <title>온화카페</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="icon" type="image/png" href="{{url_for('.static', filename='image/favicon.png')}}">
        <script src="{{url_for('.static', filename='js/jquery-3.6.0.js')}}"></script>
        <script src="{{url_for('.static', filename='js/jquery-ui.min.js')}}"></script>
        <script src="{{url_for('.static', filename='js/ytplayer.js')}}"></script>
        <script src="{{url_for('.static', filename='js/onhwa.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5K13QK9MER"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-5K13QK9MER');
        </script>
    </head>

    <body>
        <div class="main-container">
            <img src="{{url_for('.static', filename='./image/logo.gif')}}" alt="">
            <h1>온화카페</h1>
            <p class="tagline">사람 사는 이야기. 작업할 때 듣는 라디오처럼 무겁지도 가볍지도 않은 이야기를 하는 공간</p>

            <div id="request-container">
                {% if submitted %}
                <div id="request-form-success">
                    <h2>신청해주셔서 감사합니다 :) <br><a href="/"><button>한 곡 더 신청하기</button></a></h2>
                    
                </div>              
                {% else %}

                <div id="request-form-open" class="hidden">
                    <div class="left">
                        <h2>신청곡</h2>
                        <form id='request_form' action="/request_song" method="post" novalidate>
                        <fieldset id="field_set">
                            {{ form.hidden_tag() }}  <!-- protection against CSRF attack -->                   
                            <div class="field" id="requester">
                                <label>신청자</label>
                                {{ form.requester(size=24, placeholder="Your name") }}
                                {% for error in form.requester.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div> 
                            <div class="field" id="singer">
                                <label>가수</label>
                                {{ form.artist(size=24, placeholder="Artist") }}
                                {% for error in form.artist.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}    
                            </div>
                            <div class="field" id="song-title">
                                <label>노래이름</label>
                                {{ form.title(size=24, placeholder="Title") }}   
                                {% for error in form.title.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %} 
                            </div>
                            <button type="submit"  id='request_submit'>
                            틀어주세요
                            </button>
                        </fieldset>
                        </form>
                    </div>
                    <div class="right"></div>  
                </div>    
                {% endif %}  

                <div id="request-form-closed">
                    <h2>신청곡은 마감 1시간 전부터 가능합니다 :)</h2>
                </div>
            </div>

            <div class="openhour">
                <div class="divider"></div>
                <h2>영업 시간</h2>
                <h3>본점</h3>
                (월~금) 미국 시간 🇺🇸 PDT 10AM - 5PM<br>
                (화~토) 한국 시간 🇰🇷 KST 2AM - 9AM<br>
                <h3>한국점</h3>
                (월~금) 한국 시간 🇰🇷 KST 1PM - 4PM<br>
                (일~목) 미국 시간 🇺🇸 PDT 9PM - 0AM
                 
                <div class="divider"></div>
            </div>
            <div class="staff">
                <h2>Crew <a href="/login" style="text-decoration: none;">☕️</a></h2>
                <ul class="list">
                    <li><img src="./static/image/crew/1.png" alt=""></li>
                    <li><img src="./static/image/crew/2.png" alt=""></li>
                    <li><img src="./static/image/crew/3.png" alt=""></li>
                    <li><img src="./static/image/crew/4.png" alt=""></li>
                    <li><img src="./static/image/crew/5.png" alt=""></li>
                    <li><img src="./static/image/crew/6.png" alt=""></li>
                    <li><img src="./static/image/crew/7.png" alt=""></li>
                    <li><img src="./static/image/crew/8.png" alt=""></li>
                    <li><img src="./static/image/crew/9.png" alt=""></li>
                    <li><img src="./static/image/crew/10.png" alt=""></li>
                    <li><img src="./static/image/crew/11.png" alt=""></li>
                    <li><img src="./static/image/crew/12.png" alt=""></li>
                    <li><img src="./static/image/crew/13.png" alt=""></li>
                    <li><img src="./static/image/crew/14.png" alt=""></li>
                    <li><img src="./static/image/crew/15.png" alt=""></li>
                    <li><img src="./static/image/crew/16.png" alt=""></li>
                    <li><img src="./static/image/crew/17.png" alt=""></li>
                    <li><img src="./static/image/crew/18.png" alt=""></li>
                    <li><img src="./static/image/crew/19.png" alt=""></li>
                    <li><img src="./static/image/crew/20.png" alt=""></li>
                    <li><img src="./static/image/crew/21.png" alt=""></li>
                    <li><img src="./static/image/crew/22.png" alt=""></li>
                    <li><img src="./static/image/crew/23.png" alt=""></li>
                    <li><img src="./static/image/crew/24.png" alt=""></li>
                </ul>
            </div>
            <div class="divider"></div>
            <div id="social-container">
                <h2><a class="social" href="https://www.instagram.com/onhwacafe/" target="_blank"><img src="static/image/instagram.png"/>Instagram</a></h2>
                <h2><a class="social" href="https://www.youtube.com/playlist?list=PLkTLwl6Bf7xgoDAfvvTDyLc6KTK-46YHq" target="_blank"><img class="yt" src="static/image/youtube-black.svg"/>Youtube</a></h2>
            </div>
            <div class="divider"></div>
        </div>
        <footer id="footer">© 2021 온화카페, All Rights Reserved | developed by Team Javis (@chanitect, @mud0ri)</footer>
    </body>

</html>
